MONGO_URI=mongodb+srv://admin:Gremiotricolor1903@mellotrikas.hnktztu.mongodb.net/catalogo_produtos?retryWrites=true&w=majority
JWT_SECRET=gremio_tricolor_api_segredo_1903
JWT_EXPIRES_IN=7d
PORT=3000
NODE_ENV=development